/* RESET */

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

html {
    box-sizing: border-box ;
}

ul {
    list-style: none;
}

a {
text-decoration: none;
color: white;
transition: all 0.2s;
}

a:hover {
    text-decoration: underline;
    color:#3882f6;
}

/* HEADER */

header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 10px 10%;
    height: 65px;
    align-items: center;
}

.logo {
color: white;
font-weight: 900;
font-size: 25px;
}

ul {
    display: flex;
    gap: 1.5rem;
    padding: 0;
}

/* HERO SECTION */

.hero {
    background-color: #1f2937;
    display: flex;
    padding: 4rem 10%;
    column-gap: 100px;
}

h1 {
font-size: 48px;
font-weight:bolder;
color: #f9faf8;
margin: 0 0 10px 0;
padding: 0;
}

.hero__left p {
font-size: 18px;
color: #e5e7eb;
margin: 0 0 20px 0;
}

.hero__left button {
    background-color: #3882f6;
    border-style: none;
    padding: 10px 25px;
    border-radius: 7px;
    color: white;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

.hero__image {
    width: 650px;
    height: 350px;
    object-fit: cover;
    border-radius: 5px;
}

/* PROCESS  SECTION*/

.process {
    padding: 3rem 10%;
}

.process h2 {
    text-align: center;
    margin: 0 0 50px 0;
    font-weight: 900;
    color:#1f2937;
}

.process__box {
    display: flex;
    gap: 50px ;
    flex-wrap: wrap ;
    justify-content: center;
    align-items: center;
}

.process__card {
    flex-basis: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.process__card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    
}

.process__card p {
    text-align: center;
}

/* QUOTE SECTION */

.quote {
    background-color: #e5e7eb;
    padding:  3rem 25%;
}

q {
    font-size: 30px;
    font-weight: 100;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
}

.quote__citation p {
    font-weight: 900;
    color: #1f2937;
}

.quote__citation {
    display: flex;
    justify-content: end;
}

/* CTA SECTION */

.cta {
    padding: 4rem 10%;
}

.cta__container {
    display: flex;
    background-color: #3882f6;
    padding: 40px 50px;
    align-items: center;
    gap: 60px;
    border-radius: 10px;
    justify-content: space-between;
}

.cta__bold-text {
    font-weight: bold;
    color: white;
    font-size: 20px;
    margin: 0 0 10px 0;
    padding: 0 ;
} 

.subtext {
    margin: 0;
    padding: 0;
    font-size: 15px;
    color: #e5e7eb;
}

.cta__button {
    background-color: transparent;
    padding: 10px 25px;
    border-radius: 7px;
    color: white;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer; 
    border: 2px solid #f9faf8;
}

/* FOOTER */ 

footer {
    background-color: #1f2937;
    color: #e5e7eb;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
}